body {
  background-color: #001f3f;
  font-family: 'Roboto','sans-serif';
  color: white;
}


/* Set the size of the div element that contains the map */
#map {
    height: calc( 100vh - 200px );  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    color: black;
}


.name_div {
  float: left;
}


 /* Define styling for radio buttons */
.switch-field {
	display: flex;
  margin-right: 10px;
  margin-left: 3px;
	margin-bottom: 10px;
  margin-top: 10px;
	overflow: hidden;
  float: left;
  position: absolute;
  top: 10px;
  left: 50%;

}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #0E6CAE;
	color: rgba(0, 0, 0.1, 0.7);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 0px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #e4e4e4;
  color: #0074D9;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 8px 0 0 8px;
}

.switch-field label:last-of-type {
	border-radius: 0 8px 8px 0;
}
/* End styling for radio buttons */




/* Footer style */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*background-color: #034f84; */
  color: white;
  text-align: center;
  z-index: 3;
  background-color: #001f3f;
}

/* End footer style */
