/* Set the size of the div element that contains the map */
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
#floating-panel {
        position: absolute;
        top: 10px;
        left: 50%;
        z-index: 5;
        background-color: #fff;
        padding: 0;
        //border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }