/* Set of Three Buttons for the Map Toggle */
@media (max-width: 600px) {
  .button {
    background-color: ffffff; /* Gray background */
    /* background-image: linear-gradient(to top right, #cccccc , #ffffff); */
    border: 2px solid #cccccc; /* Black border */
    color: #6d6d6d; /* White text */
    padding: 24px 24px; /* Some padding */
    margin: 2px 0px;
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    font-size: 14px;
    height: 20px;
  }   
}
.button {
  background-color: ffffff; /* White background */
  border: 2px solid #cccccc; /* Light Grey border */
  color: #6d6d6d; /* Dark Grey text */
  padding: 2px 24px; 
  margin: 22px 0px; 
  cursor: pointer; /* Pointer/hand icon */
  width: 32%; 
  font-size: 14px;
  height: 90px;
  }
  
  .button1 {
    background-color: #ffffff; 
    color: #F0B666; 
    border: 2px solid 	#8c8c8c;
  }
  
  .button1:focus {
    background-image: linear-gradient(to top right, #cccccc , #ffffff);
    color: #F0B666;
  }
  
  .button2 {
    background-color: #ffffff; 
    color: #E6807C;
    border: 2px solid 	#8c8c8c;
  }
  
  .button2:focus {
    background-image: linear-gradient(to top right, #cccccc , #ffffff);
    color: #E6807C;
  }
  
  .button3 {
    background-color: #ffffff; 
    color: #ab6b79; 
    border: 2px solid 	#8c8c8c;
  }
  
  .button3:focus {
    background-image: linear-gradient(to top right, #cccccc , #ffffff);
    color: #ab6b79;
  }

  /* Style the buttons */
.btn {
  background-color: #8c8c8c; /* White background */
  border: 2px solid #cccccc; /* Light Grey border */
  color: white; /* Dark Grey text */
  padding: 2px 24px; 
  margin: 22px 0px; 
  cursor: pointer; /* Pointer/hand icon */
  width: 32%; 
  font-size: 14px;
  height: 90px;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
  background-color: #cccccc;
  color: #6d6d6d;
}
  