/*Taking Input for Postal Code*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-image: linear-gradient(to top right, #9C4B5D , rgb(177, 121, 133));
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #ab6b79;
}


/*Search by postal code field*/
.container {
  /*background-color: #8c8c8c;*/
  color: white;
  padding: 10px;
  width: 99%;
}

.description-col {
  float: left;
  width: 35%;
  margin-top: 6px;
  color: #8c8c8c;
}

.field-col {
  float: left;
  width: 40%;
  margin-top: 6px;
}
.submit-col {
    float: right;
    width: 20%;
    margin-top: 6px;
}
.row {
  margin-bottom: 15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.topnavrow{
  display: inline;
}
/*mobile top nav bar*/
.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
  width: 99%;
}

.topnav #myLinks {
  display: none;
}

.topnav .mobile-numbers-expand {
  color: black;
  text-decoration: none;
  font-size: 17px;
  /*display: block;*/
  padding: 15px 10px 15px 10px;
  text-align: center;
  background-color: #dddddd;
  border: none;
  border-bottom: 2px solid rgb(207, 207, 207);
  box-shadow: 0 2px 4px rgba(0,0,0,.04);
  border-radius: 5px;
  width: 50%;
}

.topnav .mobile-numbers-expand:hover {
  background-color: #999;
}

.topnav .mobile-numbers-expand.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 6px;
  padding: 27px;
  text-align: center;
}


.active {
  background-color: white;
  color: black;
  padding: 27px;
  z-index: 2;
}

/*mobile top nav bar*/
.topnavright {
  overflow: hidden;
  background-color: white;
  position: relative;
  width: 99%;
  float: left;
}

.topnavright #myLinksright {
  display: none;
}

.topnavright .mobile-numbers-expand {
  color: black;
  text-decoration: none;
  font-size: 17px;
  /*display: block;*/
  padding: 15px 10px 15px 10px;
  text-align: center;
  background-color: #dddddd;
  border: none;
  border-bottom: 2px solid rgb(207, 207, 207);
  box-shadow: 0 2px 4px rgba(0,0,0,.04);
  border-radius: 5px;
  width: 50%;
}

.topnavright .mobile-numbers-expand:hover {
  background-color: #999;
}

.topnavright .mobile-numbers-expand.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 6px;
  padding: 27px;
  text-align: center;
}


.active {
  background-color: white;
  color: black;
  padding: 27px;
  z-index: 2;
}
.topnavrow:after {
  content: "";
  display: table;
  clear: both;
}
