/* Define styling for radio buttons */
.switch-field {
  display: flex;
  margin: 0 10px 10px 3px;
  padding: 2px;
  overflow: hidden;
  float: left;
}

/* Different button style for desktop devices */
@media (min-width: 700px) {
  .switch-field {
    display: flex;
    margin: 10px 10px 10px 3px;
    overflow: hidden;
    float: left;
    position: absolute;
    top: 10px;
    left: 35%;
  }
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #ffffff;
  color: #00267A;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -2px;
  border: 2px solid #00267A; /* sky blue*/
  /* border-left: 0px; */
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #00267A;
  /*color: #001f3f; /* navy */
  color: white;
  /* font-weight: bold;*/
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 8px 0 0 8px;
}

.switch-field label:last-of-type {
  border-radius: 0 8px 8px 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

/* End styling for radio buttons */
