@import url("footer.css");
@import url("legend.css");
@import url("popup-elements.css");
@import url("radio-buttons.css");

* {
  font-family: Roboto, Tahoma, sans-serif !important;
}

body {
  background-color: white;
  color: #001f3f;
  z-index: 0;
}

/* Set the size of the div element that contains the map */
#map {
  width: 100%; /* The width is the width of the web page */
  color: #00267A;
  z-index: 1;
}

/* Different button style for mobile devices */
@media (min-width: 700px) {
  #map {
    height: calc(110vh - 200px);
  }
}

/* Different button style for desktop */
@media (max-width: 700px) {
  #map {
    height: calc(110vh - 300px);
  }
}

.name_div {
  float: left;
}