@import url("footer.css");
@import url("legend.css");
@import url("popup-elements.css");
@import url("radio-buttons.css");
@import url("equalcolumns.css");
@import url("buttons.css");
@import url("postalcodefield.css");

* {
  font-family: Roboto, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  z-index: 0;
  max-width: 100%;
}

/* Set the size of the div element that contains the map */
#map {
  width: 99%; /* The width is the width of the web page */
  color: black;
  z-index: 1;
}

/* Different button style for mobile devices */
@media (min-width: 600px) {
  #map {
      height: calc(100vh - 200px);
  }
}

/* Different button style for desktop */
@media (max-width: 600px) {
  #map {
      height: calc(100vh - 300px);
  }
}

.content {
  float: left;
}


/* Diving the Page into Two Unequal Columns */
/* (for map and dasboard) */
.column {
  float: left;
  padding: 10px;
}
.left {
  width: 875px;
}
.right {
  width: 475px;

}
.map-info {
  margin-bottom: 50px;
}
.row:after { /* Clearing floats after the columns */
  content: "";
  display: table;
  clear: both;
}


@media (min-width: 1132px) {
  .left {
    width: 65%; 
  }
  .right {
    width: 35%;
  }
  .topnavright {
    display:none;
  }
  .topnav{
    display:none;
  }
}

@media (max-width: 1132px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  h3{
    display: none;
  }
  .column2 {
    display: none;
  }
  .left2 {
    display:none;
  }
  .right2 {
   display:none;
  }
  .row2:after {
    content: "";
    display: none;
    clear: both;
}
}