/* Style the tab */
@media (max-width: 1132px) {
  
  .tab {
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .tab button {
    background-color: inherit;
    background-image: linear-gradient(to top right, #e8e8e8 , #f6f6f6);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 13px;
    width: 25%;
    height: 80px;
    
  }
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  background-image: linear-gradient(to top right, #e9A2A0 , rgb(236, 190, 188));
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  background-image: linear-gradient(to top right, #E57B77 , #e9A2A0); 
}

.tab button:focus {
  background-color: #ccc;
  background-image: linear-gradient(to top right, #E57B77 , #e9A2A0); 
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
}

@media (min-width: 1132px) {
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  height: 70px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  background-image: linear-gradient(to top right, #e8e8e8 , #f6f6f6);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 25%;
  
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  background-image: linear-gradient(to top right, #e9A2A0 , rgb(236, 190, 188));
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  background-image: linear-gradient(to top right, #E57B77 , #e9A2A0); 
}

.tab button:focus {
  background-color: #ccc;
  background-image: linear-gradient(to top right, #E57B77 , #e9A2A0); 
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
}